button {
  background-color: rgba(90, 168, 151, 0.4);
  color: rgb(72, 69, 69, 0.75);
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: large;
  letter-spacing: 0.18rem;
}

:hover button {
  cursor: pointer;
}
